{% extends '::base.html.twig' %}

{% block body %}
    {{numero.content}} / {{numero.createdAt|date('Y-m-d')}} / {{numero.updatedAt|date('Y-m-d') }} / {{numero.likes}} / {{numero.isEnabled|number_format}} / {{numero.getcover}}
    
<div>
{{ form_start(form_delete) }}
</div>
<div>
{{form_widget(form_delete) }}
</div>
<div>
{{ form_end(form_delete) }}
</div>
{% endblock %}