{% extends '::base.html.twig' %}
{% block body %}
{{ form_start(form, {'attr' : {'class': 'form-inline'}})}}

<div class="form-group">
{{ form_label(form.title) }}
{{ form_widget(form.title) }}
</div>
<div class="form-group">
{{ form_label(form.content) }}
{{ form_widget(form.content) }}
</div>
<div class="form-group">
{{ form_label(form.createdAt) }}
{{ form_widget(form.createdAt) }}
</div>
<div class="form-group">
{{ form_label(form.updatedAt) }}
{{ form_widget(form.updatedAt) }}
</div>
<div class="form-group">
{{ form_row(form.file) }}
{{ form_end(form) }}
</div>
{% endblock %}