{% extends 'base.html.twig' %}

{% block body %}
    <h1>Firstentities list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Isenabled</th>
                <th>Likes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for firstEntity in firstEntities %}
            <tr>
                <td><a href="{{ path('firstentity_show', { 'id': firstEntity.id }) }}">{{ firstEntity.id }}</a></td>
                <td>{{ firstEntity.title }}</td>
                <td>{{ firstEntity.content }}</td>
                <td>{% if firstEntity.createdAt %}{{ firstEntity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if firstEntity.updatedAt %}{{ firstEntity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if firstEntity.isEnabled %}Yes{% else %}No{% endif %}</td>
                <td>{{ firstEntity.likes }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('firstentity_show', { 'id': firstEntity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('firstentity_edit', { 'id': firstEntity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('firstentity_new') }}">Create a new firstEntity</a>
        </li>
    </ul>
{% endblock %}
